.maqueeContainer {
    overflow: hidden;
    padding: 0;
    height: 25rem;
    position: relative;
    /* margin-top: -2rem;
    margin-bottom: -2rem; */
}

.introProjectContainer {
    overflow: hidden;
    padding: 0;
    height: 25rem;
}

.redStrip {
    position: relative;
    top: 30%;
    z-index: 1;
}

.blackStrip {
    position: relative;
    margin-top: -8rem;
    top: 30%;
    z-index: 2;
}