.container {
    background-color: #CA3227;
    padding: 4rem;
    border-radius: 24px;
    color: white;
    margin: 0 auto;
    width: 83%;
}

.header {
    text-align: left;
    margin-bottom: 2rem;
}

.mainTitle {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.subTitle {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: right;
}

.formTitle {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.form {
    /* max-width: 500px;
    margin: 0 auto; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.inputGroup {}

.inputGroup,
.submitButton {
    grid-column: span 2;
    /* Span both columns */
}

.label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.input {
    width: 100%;
    padding: 0.75rem 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    font-size: 1rem;
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.input:focus {
    outline: none;
    border-bottom-color: white;
}

.interestSection {
    margin-bottom: 2rem;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.tag {
    padding: 0.5rem 1.5rem;
    border: 1px solid white;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.tag:hover,
.tagSelected {
    background-color: white;
    color: #CA3227;
}

.budgetSection {
    margin-bottom: 2rem;
}

.budgetSection,
.interestSection {
    flex: 1;
}



.budgetTags {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.textarea {
    width: 100%;
    min-height: 100px;
    padding: 0.75rem 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    font-size: 1rem;
    resize: vertical;
}

.textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.textarea:focus {
    outline: none;
    border-bottom-color: white;
}

.submitButton {
    display: block;
    width: fit-content;
    margin: 3rem auto 0;
    padding: 1rem 3rem;
    background-color: white;
    color: #CA3227;
    border: none;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submitButton:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}